@import "null", "fonts", "vars", "mixins";

body {
  font-family: $font1;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  color: $black;
  font-family: $font1;
  font-size: 44px;
  font-weight: 600;
  line-height: normal;
}

.btn {
  color: $Dwhite;
  font-family: $font1;
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  padding: 22px 83px;
  background-color: $green;
  text-align: center;
}

@import "media";