@import "null", "fonts", "vars", "mixins";

body {
  font-family: $font1;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  color: $black;
  font-family: $font1;
  font-size: 44px;
  font-weight: 600;
  line-height: normal;
}

.btn {
  color: $Dwhite;
  font-family: $font1;
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  padding: 22px 83px;
  background-color: $green;
  text-align: center;
  box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
  @media (max-width: 425px) {
    padding: 22px 40px;
  }
}

.secondary-btn {
  color: $Dwhite;
  font-size: 21px;
  font-weight: 600;
  background-color: transparent;
  padding: 22px 70px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.20);
  } 
}

@import "blocks/blocks";

@import "media";